streamlit
numpy
Pillow
# Use the headless version for better compatibility on Streamlit Cloud
opencv-python-headless
mediapipe
streamlit-webrtc
# Add your ML libraries here:
scikit-learn
xgboost
av
opencv-python